/*.nav-text-color a {
	color: #000000;
}

#h1-crystal {
	background-color: #29aba4;
}
.center-bg {

}
*/


#instruction-toggle, #instruction-container  {
	line-height: 22px;
	margin: auto;
	font-size: 14px;
	padding: 4px;
	text-align: left;
	background: #29aba4;
	border: solid 1px #ffffff;
	color: #ffffff;
}
#instruction-toggle {
	cursor: pointer;
	text-align: center;
}