.main-content {
	padding-top: 50px;
	background-color: #d5e6ee;
}

#instruction-toggle, #instruction-container  {
	line-height: 22px;
	margin: auto;
	font-size: 14px;
	padding: 4px;
	text-align: left;
	background: #29aba4;
	border: solid 1px #ffffff;
	color: #ffffff;
}
#instruction-toggle {
	cursor: pointer;
	text-align: center;
}

.sidebars {
	background-color: #d5e6ee;
	height: 100%;
	padding-top: 20px;
}

.center-content-bg {
	background-color: #ffffff;
	height: 100%;
}
